.login-wrap {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  background: rgba(0, 17, 30, 0.64);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .modal {
    width: 350px;
    // height: 454px;
    border-radius: 8px;
    background-color: #fff;
    overflow: hidden;
    .tabs {
      display: flex;
      margin: 0;
      padding: 0;
      li {
        background: #f1f1f1;
        color: #434343;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        flex: 1;
        &.active {
          background: #ffffff;
          color: #0a3e76;
        }
      }
    }
    form {
      padding: 40px;
      .control {
        display: flex;
        margin-bottom: 15px;
        input {
          width: 100%;
          border: 0;
          height: 48px;
          border: 1px solid #0a3e76;
          border-radius: 4px;
          padding-right: 15px;
        }
        &.multi {
          justify-content: space-between;

          input {
            max-width: 158px;
          }
        }
      }
    }
    button {
      background: #0a3e76;
      border: 0;
      height: 48px;
      width: 100%;
      border-radius: 6px;
      color: #fff;
      font-size: 20px;
      margin-top: 48px;
      &.outline {
        background-color: #fff;
        border: 1px solid #0a3e76;
        color: #0a3e76;
      }
    }
  }
}
