<div class="login-wrap">
  <div class="modal">
    <ul class="tabs">
      <li class="active">התחברות</li>
      <li>הרשמה</li>
    </ul>
    <form>
      <div class="control">
        <input (input)="disable = emailInput.value && passInput.value? false:true" #emailInput placeholder="הזן דואל"
          type="email">
      </div>
      <div class="control">
        <input (input)="disable = emailInput.value && passInput.value? false:true" #passInput placeholder="סיסמה"
          type="password">
      </div>
      <button [disabled]="disable" (click)="submitLogin(emailInput.value)">
        התחברות
      </button>
      <p>
        <span>
          התחברות באמצעות
        </span>
      </p>
      <div class="btns">
        <button class="action-btn outline">
          Facebook
          <img src="assets/icons/fb.png">

        </button>
        <button class="action-btn outline">
          Google
          <img src="assets/icons/google.png">
        </button>
      </div>
    </form>

  </div>
</div>
