<div class="login-wrap">
  <div class="modal">
    <ul class="tabs">
      <li class="active">התחברות</li>
      <li>הרשמה</li>
    </ul>
    <form>
      <div class="control">
        <input placeholder="הזן דואל" type="text">
      </div>
      <div class="control">
        <input placeholder="סיסמה" type="text">
      </div>
      <button (click)="submitLogin()">
        התחברות
      </button>
      <p>
        <span>
          התחברות באמצעות
        </span>
      </p>
      <div class="btns">
        <button class="action-btn outline">
          Facebook
          <img src="assets/icons/fb.png">

        </button>
        <button class="action-btn outline">
          Google
          <img src="assets/icons/google.png">
        </button>
      </div>
    </form>

  </div>
</div>
