.login-wrap {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  background: rgba(0, 17, 30, 0.64);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .modal {
    width: 350px;
    // height: 454px;
    border-radius: 8px;
    background-color: #fff;
    overflow: hidden;
    .tabs {
      display: flex;
      margin: 0;
      padding: 0;
      li {
        background: #f1f1f1;
        color: #434343;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        flex: 1;
        font-size: 14px;
        &.active {
          background: #ffffff;
          color: #0a3e76;
          font-weight: 600;
        }
      }
    }
    form {
      padding: 40px;
      .control {
        display: flex;
        margin-bottom: 15px;
        input {
          width: 100%;
          border: 0;
          height: 48px;
          border: 1px solid #0a3e76;
          border-radius: 4px;
          padding-right: 15px;
        }
        &.multi {
          justify-content: space-between;

          input {
            max-width: 158px;
          }
        }
      }
    }
    button {
      background: #0a3e76;
      border: 0;
      height: 48px;
      width: 100%;
      border-radius: 6px; 
      color: #fff; 
      font-size: 20px;
      margin-top: 48px;
      &.outline {
        background-color: #fff;
        border: 1px solid #0a3e76;
        color: #0a3e76;
      }
      &:disabled {
        background: rgb(211, 211, 211);
      }
    }
    p {
      margin: 0;
      position: relative;
      text-align: center;
      margin-top: 24px;
      &::before {
        position: absolute;
        left: 0;
        top: 11px;
        height: 1px;
        width: 100%;
        content: "";
        background: #e5e5e5;
        z-index: 0;
      }
      span {
        color: #6e757d;
        position: relative;
        z-index: 1;
        padding: 0 5px;
        background-color: #fff;
      }
    }
    .btns {
      display: flex;
      justify-content: space-between;
      margin-top: 18px;
      button {
        width: 127px;
        height: 40px;
        font-size: 14px;
        margin-top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          margin-right: 15px;
        }
      }
    }
  }
}
