@import "colors.scss";

h1 {
  font-weight: 600;
  text-align: center;
  font-size: 27px;
  margin-top: 60px;
  font-family: "Heebo", sans-serif;
}
.list {
  margin-bottom: 30px;
}
.packages {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  flex-wrap: wrap;
}
.product-select {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .backdrop {
    background-color: hsla(206, 100%, 6%, 0.64);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
  app-options {
    z-index: 1;
  }
}
