$blue: #3f76d9;
$blue2: #3775a1;
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.cart-wrap {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  // padding-top: 85px;
  display: flex;
  justify-content: flex-end;
  z-index: 1;
  margin-top: 85px;
  .cart {
    position: relative;
    background-color: #fff;
    width: 448px;
    max-width: 100%;
    // border-radius: 8px;
    border-top-right-radius: 8px;
    // overflow: hidden;
    // height: 100%;
    border: 1px solid #f4f4f4;
    box-shadow: 8px 0px 32px rgba(46, 57, 65, 0.08);
    height: calc(100% - 85px);
    .rect {
      position: absolute;
      left: 186px;
      top: -6px;
      background: #fbfbfb;
      border-radius: 4px;
      transform: rotate(45deg);
      height: 12px;
      width: 12px;
    }
  }
  .tabs {
    background: #fbfbfb;
    height: 85px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    li {
      font-size: 22px;
      font-weight: 300;
      color: #6a6a6a;
      padding: 0 5px;
      &.active {
        color: #0a3e76;
        font-weight: 600;
      }
    }
  }
  .shopping-list {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    flex-direction: column;
    align-items: center;
    max-height: 60vh;
    overflow: auto;
    max-height: 70vh;

    .product {
      width: 368px;
      border: 1px solid #f4f4f4;
      box-shadow: 0px 0px 8px rgba(46, 57, 65, 0.04);
      border-radius: 8px;
      margin-bottom: 40px;
      .details {
        background-color: $blue;
        height: 108px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: #fff;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        width: 100%;
        p {
          margin: 0;
          line-height: 1;
          &:nth-of-type(2) {
            font-weight: 700;
            font-size: 42px;
          }
          &:nth-of-type(1) {
            font-weight: 400;
          }
          &:nth-of-type(3) {
            font-size: 12px;
          }
        }
      }
      .options {
        display: flex;
        flex-direction: column;
        li {
          display: flex;
          align-items: center;
          height: 50px;
          padding: 0 15px;
          .right {
            display: flex;
            flex-direction: column;
            span {
              font-size: 12px;
            }
          }
          .left {
            margin-right: auto;
            display: flex;
            align-items: center;
            img {
              margin-right: 5px;
            }
          }
        }
        li:first-of-type {
          border-bottom: 1px solid #f4f4f4;
        }
      }
    }
  }

  .user-details {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    form {
      display: flex;
      flex-direction: column;
      width: 368px;
    }
    fieldset {
      margin: 0;
      padding: 0;
      &:first-of-type {
        margin-bottom: 22px;
      }
      legend {
        color: #434343;
        font-weight: 600;
        font-size: 18px;
        margin-bottom: 8px;
      }
    }
    .control {
      display: flex;
      margin-bottom: 15px;
      input {
        width: 100%;
        border: 0;
        height: 48px;
        border: 1px solid #0a3e76;
        border-radius: 4px;
        padding-right: 15px;
      }
      &.multi {
        justify-content: space-between;

        input {
          max-width: 158px;
        }
      }
    }
  }
  .payment-details {
    @extend .user-details;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
    .card-header {
      width: 368px;
      display: flex;
      height: 64px;
      align-items: center;
      border-top: 1px solid #f1f1f1;
      border-bottom: 0;
      &.active {
        background-color: #fbfbfb;
        border-bottom: 1px solid #f1f1f1;
      }
      &:first-of-type{
        border-top:0;
      }
    }
    form {
      border: 1px solid #f1f1f1;
      display: flex;
      align-items: center;
      // padding: 15px;
      border-radius: 4px;
      fieldset {
        margin-bottom: 0;
        margin-top: 20px;
        width: 336px;
      }
      legend {
        color: #6a6a6a;
        font-size: 14px;
        margin-bottom: 15px;
      }
      .control {
        &.multi {
          input {
            max-width: 142px;
          }
        }
      }
    }
    .right {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
    }
  }

  .sum {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .price {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0;
      border-top: 1px solid #f1f1f1;
      border-bottom: 1px solid #f1f1f1;
      height: 55px;
      margin-bottom: 40px;
      width: 100%;
      font-size: 18px;
      color: #0a3e76;
      span {
        &:first-of-type {
          margin-right: 56px;
        }
        &:last-of-type {
          margin-left: 56px;
          font-weight: 700;
        }
      }
    }
    .premium {
      @extend .price;
      max-width: 368px;
      border: 1px solid #f1f1f1;
      border-radius: 4px;
      span {
        &:first-of-type {
          color: #434343;
          margin-right: 15px;
          font-weight: 600;
        }
        &:last-of-type {
          margin-left: 15px;
          font-weight: normal;
          font-size: 16px;
        }
      }
    }
    button {
      background: #0a3e76;
      border: 0;
      height: 48px;
      width: 386px;
      border-radius: 6px;
      color: #fff;
      font-size: 20px;
      &.outline {
        background-color: #fff;
        border: 1px solid #0a3e76;
        color: #0a3e76;
      }
    }
  }
}

/* The container */
.radio-container {
  display: block;
  position: relative;
  padding-right: 35px;
  margin-bottom: 0;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: 600;
  font-size: 18px;
  margin-right: 15px;
}

/* Hide the browser's default radio button */
.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 3px;
  right: 8px;
  height: 16px;
  width: 16px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #434343;
}

/* On mouse-over, add a grey background color */
.radio-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radio-container input:checked ~ .checkmark {
  background-color: #fff;
  border: 1px solid #434343;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio-container .checkmark:after {
  top: 3px;
  right: 3px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #434343;
}
