/* You can add global styles to this file, and also import other style files */
@import "./normalize.scss";
.container {
  width: 1170px;
  margin: 0 auto;
  position: relative;
  max-width: 100%;
}

